<?php
// module/StatusCode/view/statuscode/statuscode/index.phtml:

$code = 'StatusCode';
$this->headTitle($code);
?>
<h1><?php echo $this->escapeHtml($code); ?></h1>
<p>
    <a href="<?php echo $this->url('code', array('action'=>'add'));?>">Add new StatusCode</a>
</p>

<table class="table">
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($statusesCode as $statusCode) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($statusCode->code);?></td>
            <td><?php echo $this->escapeHtml($statusCode->description);?></td>
            <td>
                <a href="<?php echo $this->url('statusCode',
                    array('action'=>'edit', 'id' => $statusCode->id));?>">Edit</a>
                <a href="<?php echo $this->url('statusCode',
                    array('action'=>'delete', 'id' => $statusCode->id));?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>